
/* small custom tweaks */
html, body, #root { height: 100%;  }
body { background: linear-gradient(180deg,#0b1220,#071028); color: #e6eef8; }
input, textarea, select { outline: none; }
::-webkit-scrollbar { height:8px; width:8px; }
::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.08); border-radius:8px; }